@page
@model WebApplication2.Pages.ChiNhanh.EditModel
@{
}

<br />
<h2> Chỉnh sửa Chi Nhánh </h2>

@if (Model.errorMessage.Length > 0) {
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
      <strong>@Model.errorMessage</strong>
      <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="POST">    
    <input type="hidden" name="MaCN" value="@Model.chiNhanh.MaCN">
    
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tên Chi Nhánh</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="TenCN" value="@Model.chiNhanh.TenCN">
        </div>
    </div>
    
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Địa chỉ</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="DiaChi" value="@Model.chiNhanh.DiaChi">
        </div>
    </div>

    @if (Model.successMessage.Length > 0) {
    <div class="row mb-3">
        <div class="col-sm-9">
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
              <strong>@Model.successMessage</strong>
              <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
            </div>
        </div>
    </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
          <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>